.carousel-inner {
    min-height: 50vh;
    padding: 2rem 0;
}

.carousel-indicators {
    bottom: 0px;
}

.carousel-indicators [data-bs-target] {
    background-color: rgb(199, 25, 25);
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: red;
}

.items {
    max-width: 800px;
    margin: auto;
}

.items img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.items q {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}

.items .stars i {
    color: red;
    font-size: 1.5rem;
    padding: 0 .5rem;
}

i.bi.bi-arrow-left {
    color: red;
    font-size: 2rem;
    opacity: 1;
}

i.bi.bi-arrow-right {
    color: red;
    font-size: 2rem;
}